
.rhap_time, .rhap_current-time {
  color: white !important;
}
.rhap_progress-section {
  justify-content: center;
  color: #ababab;
}

.rhap_progress-container { 
  width: 30rem !important;
  display: flex;
  flex: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
