.player {
  background-color: #181818;
  color: gray;
  margin-top: 8px;
  border: none;
}

.rhap_time, .rhap_current-time {
  color: white !important;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
